<ion-split-pane>

  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/menu/home" routerDirection="root">
            Home
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/menu/wallpapers" routerDirection="root">
            Wallpapers
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/menu/categories" routerDirection="root">
            Categories
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/menu/favourites" routerDirection="root">
            Favourites
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item>
            Rate App
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item>
            Share App
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item>
            More App
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle routerLink="/menu/about" routerDirection="root" auto-hide="false">
          <ion-item>
            About
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle routerLink="/menu/privacy" routerDirection="root" auto-hide="false">
          <ion-item>
            Privacy
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>