<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/menu/home">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item (click)="wallpapersByCategory(cat.category_id)" *ngFor="let cat of categories">
    <ion-avatar slot="start">
      <img src="{{ cat.category_cover }}" />
    </ion-avatar>
    <ion-label>
      <h2>{{ cat.category_name }}</h2>
    </ion-label>
  </ion-item>
</ion-content>
