<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/menu/categories">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ category.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col *ngFor="let wall of wallpapers" size="6">
            <ion-card>
              <ion-card-header>
                <img src="{{ wall.thumbnail }}"/>
                <ion-card-subtitle>
                  {{ wall.category_name }}
                </ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
